.attention {
    overflow: hidden;
    border-top: 1px solid #ccc;
    .title {
        float: left;
        .title_box {
            width: rem(315px);
            height: rem(72px);
            margin-top: rem(26px);
            .title_test {
                width: rem(230px);
                height: rem(26px);
                overflow: hidden;
                float: left;
                .title_title {
                    line-height: 100%;
                    margin-left: rem(14px);
                    font-weight: 400;
                    margin-top: 0;
                    font-size: rem(26px);
                    height: rem(32px);
                }
            }
            .title_img {
                margin-left: 10px;
                margin-top: 5px;
                width: rem(60px);
                height: rem(60px);
                border-radius: 50%;
                overflow: hidden;
                float: left;
                img {
                    width: 100%;
                    height: 100%;
                    background: #ccc;
                }
            }
            span {
                margin-left: rem(14px);
                float: left;
                color: #ccc;
                padding: rem(4px) rem(15px);
                margin-top: rem(5px);
                font-size: rem(20px);
                .dd {
                    margin: 0;
                    padding: 0;
                    font-size: rem(24px);
                }
            }
        }
    }
    .activity_num {
        overflow: hidden;
        padding: 5px;
        height: rem(30px);
        width: rem(160px);
        background: #ddd;
        border-radius: 25px;
        line-height: rem(30px);
        float: right;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            font-size: rem(10px);
            color: #999;
            float: left;
        }
        span {
            display: block;
            float: left;
            font-size: rem(28px);
            color: #999;
        }
    }
    .activity_img {
        overflow: hidden;
        width: rem(750px);
        height: rem(353px);
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        img {
            display: block;
            width: rem(243px);
            height: rem(353px);
            float: left;
            margin-right: rem(7px);
            background: pink;
        }
        img:nth-child(3) {
            margin-right: none;
        }
    }
}