.test_box {
    margin: 0 rem(30px);
    margin-top: rem(75px+82px);
    li {
        overflow: hidden;
        border-bottom: 1px solid #E8E8E8;
        img {
            width: rem(80px);
            height: rem(80px);
            display: block;
            float: left;
            padding-top: rem(40px);
            padding-right: rem(10px);
        }
        div {
            p {
                font-size: rem(35px);
                line-height: rem(52px);
                padding-top: rem(15px);
                width: rem(600px);
                height: rem(100px);
                overflow: hidden;
            }
        }
        div {
            margin-top: rem(15px);
            overflow: hidden; //为了排版需要
            span {
                color: #A9A9A9;
                font-size: rem(24px);
                display: inline-block;
                margin-right: rem(15px);
            }
            span:nth-child(1) {
                border: 1px solid #999;
                padding: rem(2px) rem(8px);
                font-size: rem(23px);
                color: #666;
                border-radius: rem(10px);
                background: #999;
            }
            span:nth-child(5) {
                border: 1px solid #A9A9A9;
                padding: rem(2px) rem(12px);
                font-size: rem(20px);
                color: #A9A9A9;
                border-radius: rem(10px);
                float: right;
            }
            #style {
                background: #fff;
                color: red;
                border: 1px solid red;
            }
        }
    }
}

.Loading {
    margin-bottom: 50px;
    img {
        display: block;
    }
}